@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-0 {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }
  .font-outline-white {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
  .font-outline-2 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
}